<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="inc.machine_code.reusable">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityPackage.NavigationDrawer.NavigationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ActivityPackage.BottomSheet.BottomSheetActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ActivityPackage.Dialog.DialogActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ActivityPackage.CheckBox.CheckBoxActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ActivityPackage.Spinner.SpinnerActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ActivityPackage.BottomNavigation.BottomNavigationActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ActivityPackage.Calendar.CalendarActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ActivityPackage.Notification.NotificationActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".List_GridView.ListActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ActivityPackage.TabLayout.TabLayoutActivity"
            android:theme="@style/NoActionBarTheme"
            tools:ignore="InnerclassSeparator" />
    </application>

</manifest>